.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  transition: margin-left 0.3s, width 0.3s;
  padding-right: 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-toggle {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.user-name {
  font-weight: 500;
  font-size: 15px;
  color: #333;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}
