.produit-container h3 {
  color: #2563eb; /* bleu principal */
  font-weight: 600;
}

.produit-table th {
  background-color: #f3f4f6;
}

.action-icon {
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.action-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
