.sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: width 0.15s ease; /* deux fois plus rapide */
  z-index: 1000;
}

.Titre-sidebar-header {
  font-size: 20px;        /* taille du texte */
  font-weight: 600;       /* gras moyen */
  color: #9ca3af;         /* couleur gris clair */
  margin-left: 12px;      /* espace entre logo et texte */
  /* white-space: nowrap;    empêche le texte de passer à la ligne */
  transition: width 0.15s ease; /* deux fois plus rapide */ /* animation si sidebar se rétracte */
  margin-top: -15px;
  font-family: Georgia, serif;
}
.CSidebarHeader {
  display: flex;
  align-items: center;
}

.sidebar-nav{
  margin-top: -40px;
  
}

.sidebar-title {
  display: flex;
  align-items: center;
 margin-left: 5px;
}

/* Logo */
.sidebar-logo {
  display: flex;
  margin-top: -15px;
  justify-content: center;
}

.sidebar-logo img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.sidebar{
  justify-content: center;
  /* align-items: center; */
}